.bg-primary{
    background-color: $primary !important;
}

.bg-secondary{
    background-color: $secondary !important;
}

.bg-primary-trans{
    background-color: rgba(12, 39, 68, 0.7);
}

.bg-grey{
    background-color: $bg_grey;
}

.bg-grey-light{
    background-color: $border_light;
}

.bg-white{
    background-color: $bg_white;
}

.bg-beige{
    background-color: beige;
}

.bg-red{
    background-color: $dashboard_red;
}

.bg-orange{
    background-color: $bg_orange;
}

.bg-orange-2{
    background-color: $bg_orange_2;
}

.bg-orange-dark{
    background-color: $bg_orange_dark;
}

.bg-black{
    background-color: black;
}

.bg-black-off{
    background-color: $black_off;
}

.bg-dark{
    background-color: #5a5a5a;
}

.bg-darkgrey{
    background-color: #e6e6e6;
}

.bg-ash{
    background-color: #828181;
}

.bg-ghostwhite{
    background-color: ghostwhite;
}

.bg-skyblue{
    background-color: $bg_skyblue;
}

.bg-green{
    background-color: $dashboard_green;
}

.bg-green-lime{
    background-color: $green_lime;
}

.bg-green-dark{
    background-color: $dashboard_green_dark;
}

.bg-blue{
    background-color: $dashboard_blue;
}

.bg-blue-dark{
    background-color: $dashboard_blue_dark;
}

.bg-yellow{
    background-color: $dashboard_yellow;
}

.bg-orange{
    background-color: $dashboard_orange;
}

.bg-yellow-dark{
    background-color: $yellow_dark;
}

.bg-brown{
    background-color: $brown;
}

.bg-purple{
    background-color: $purple;
}



