/* New */
.button{
    display: inline-block;
    font-weight: 600;
    text-align: center;
    padding: 1em 2em;
    border: 0;
    outline: 0;
    border: 1px solid transparent;
    border-radius: 0.5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 0.4s ease;
    
    &:hover{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
        transition: all 0.4s ease;
    }
}

.button-primary{
    color: white;
    background-color: $primary;
        
    &:hover{
        color: white;
        background-color: #034596;
        
        &.icon{
            &:after{
                transform: translateX(20%);
                transition: 0.3s ease all;
            }
        }
    }
    
    &.icon{
        display: inline-flex;
        align-items: center;
        
        &:after{
            content: "";
            position: relative;
            transform: translateY(0);
            height: 1.2em;
            width: 2.4em;
            margin-left: 1em;
            background-image: url('../images/icons/arrow_white.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: 0.3s ease all;
        }
    }
}

.button-secondary{
    background-color: $secondary;
    color: white;
    
    &:hover{
        color: white;
        background-color: #88AAD3;
    }
}

.button-white{
    color: $primary;
    background-color: white;
        
    &:hover{
        color: $primary;
        background-color: #E5E5E5;
        
        &.icon{
            &:after{
                transform: translateX(20%);
                transition: 0.3s ease all;
            }
        }
    }
    
    &.icon{
        display: inline-flex;
        align-items: center;
        
        &:after{
            content: "";
            position: relative;
            transform: translateY(0);
            height: 1.2em;
            width: 2.4em;
            margin-left: 1em;
            background-image: url('../images/icons/arrow_primary.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: 0.3s ease all;
        }
    }
}

.button-tertiary{
    color: $primary;
    border-color: $primary;
    background-color: transparent;
    box-shadow: none;
        
    &:hover{
        color: white;
        background-color: $primary;
        
        &.icon{
            &:after{
                transform: translateX(20%);
                transition: 0.3s ease all;
            }
        }
    }
    
    &.icon{
        display: inline-flex;
        align-items: center;
        
        &:after{
            content: "";
            position: relative;
            transform: translateY(0);
            height: 1.2em;
            width: 2.4em;
            margin-left: 1em;
            background-image: url('../images/icons/arrow_primary.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: 0.3s ease all;
        }
    }
}