.box{
    display: block;
    overflow: hidden;
}


/*
*
*Flex Boxes BEGIN
*
*/

.flex_1{
    flex: 1;
}


/*
*
*Flex Boxes END
*
*/


//Card Border
.borderd{
    border: 1px solid $bg-orange;
}
.borderd-right{
    border-right: 1px solid $border_light;
}
.borderd-left{
    border-left: 1px solid $border_light;
}
.borderd-bottom{
    border-bottom: 1px solid $bg_grey_dark;
}
.borderd-bottom-2{
    border-bottom: 2px solid $txt_light;
}
.borderd-top{
    border-top: 1px solid $border_light;
}

//Card Bootstrap
.card-wrapper{
    padding: 10px;
    
    .card{
        
    }
}

//
//Borders
.border-o-1{
    border-style: solid;
    border-width: 1px;
}

.border-u-1{
    border-style: solid;
    border-width: 0 1px 1px 1px;
}

.border-tb-1{
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.border-tb-4{
    border-style: solid;
    border-top-width: 4px;
    border-bottom-width: 4px;
}

.border-lr-1{
    border-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
}

.border-t-1{
    border-style: solid;
    border-top-width: 1px;
}

.border-t-2{
    border-style: solid;
    border-top-width: 2px;
}

.border-t-4{
    border-style: solid;
    border-top-width: 4px;
}

.border-b-1{
    border-style: solid;
    border-bottom-width: 1px;
}

.border-b-2{
    border-style: solid;
    border-bottom-width: 2px;
}

.border-b-4{
    border-style: solid;
    border-bottom-width: 4px;
}

.border-r-1{
    border-style: solid;
    border-right-width: 1px;
}

.border-l-1{
    border-style: solid;
    border-left-width: 1px;
}


.border-color-primary{
    border-color: $primary;
}

.border-color-grey{
    border-color: $bg_grey;
}

.border-color-white{
    border-color: white;
}

.border-color-white-trans{
    border-color: rgba(255,255,255,0.3);
}

.border-color-darkgrey{
    border-color: $bg_grey_dark;
}

.border-color-black{
    border-color: black;
}

//

.border-0-1{
     border: 1px solid $bg-orange;
}

.flex-box{
    display: flex;
}

.flex-box-wrap{
    display: flex;
    flex-direction: column;
    
    @include MQ(M){
        flex-direction: row;
        align-items: center;
    }
    
    >*{
        flex: 1;
    }
}

.learnig-home-section{
    display: flex;
    flex-direction: column;
    
    @include MQ(M){
        flex-direction: row;
    }
    
    a{
        color: white;
        transition: all 0.3s ease;

        &:hover{
            color: $bg_orange;
            transition: all 0.3s ease;
        }
    }
    
    article{
        flex: 1;
        padding: 40px 30px;
        color: white;
        
        @include MQ(M){
            &:first-child{
                padding-left: 100px;
            }

            &:last-child{
                padding-right: 100px;
            }
        }
    }
    
    .form-control, .btn{
        border-radius: 0 !important;
    }
    
    
    
}

.project-box{
    >*{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        
        @include MQ(M){
            
            &:first-child{
                -webkit-box-flex: 0;
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
            }
            
            &:nth-child(2){
                -webkit-box-flex: 0;
                -ms-flex: 0 0 25%;
                flex: 0 0 25%;
                max-width: 25%;
            }
            
            &:nth-child(3){
                -webkit-box-flex: 0;
                -ms-flex: 0 0 25%;
                flex: 0 0 25%;
                max-width: 25%;
            }
            
            &:nth-child(4){
                -webkit-box-flex: 0;
                -ms-flex: 0 0 25%;
                flex: 0 0 25%;
                max-width: 25%;
            }
            
            &:nth-child(5){
                -webkit-box-flex: 0;
                -ms-flex: 0 0 25%;
                flex: 0 0 25%;
                max-width: 25%;
            }
            
            &:nth-child(6){
                -webkit-box-flex: 0;
                -ms-flex: 0 0 25%;
                flex: 0 0 25%;
                max-width: 25%;
            }
            
            &:nth-child(7){
                -webkit-box-flex: 0;
                -ms-flex: 0 0 25%;
                flex: 0 0 25%;
                max-width: 25%;
            }
            
            &:nth-child(8){
                -webkit-box-flex: 0;
                -ms-flex: 0 0 33.33%;
                flex: 0 0 33.33%;
                max-width: 33.33%;
            }
            
            &:nth-child(9){
                -webkit-box-flex: 0;
                -ms-flex: 0 0 33.33%;
                flex: 0 0 33.33%;
                max-width: 33.33%;
            }
            
            &:nth-child(10){
                -webkit-box-flex: 0;
                -ms-flex: 0 0 33.33%;
                flex: 0 0 33.33%;
                max-width: 33.33%;
            }
            
            &:last-child{
                -webkit-box-flex: 0;
                -ms-flex: 1;
                flex: 1;
                max-width: initial;
            }
        }
    } 
}

.people-card{
    .wrapper{
        padding: 10px;
        
        .image-wrapper{
            overflow: hidden;
            
            .image-box{
                height: 240px;
                background-size: cover !important;
                background-repeat: no-repeat !important;
                transform: scale(1);
                transition: all 0.3s ease;
            }
        }

        .caption{
            padding: 20px;
            background-color: black;
            color: white;
            transition: all 0.3s ease;

            .name{
                font-weight: 400;
                font-size: 0.8em;
                font-weight: 600;
                margin-bottom: 10px;
            }

            .position{
                font-size: 0.7em;
            }
        }
    }
    
    &:hover{
        .image-wrapper{
            
            .image-box{
                transform: scale(1.05);
                transition: all 0.3s ease;
            }
        }
        
        .caption{
            background-color: $blue;
            transition: all 0.3s ease;
        }
    }
}

.team-member-header{
    background-color: black;
    color: white;
    padding: 60px;
    
    .title{
        font-size: 2em;
        letter-spacing: 0.2em;
        margin-bottom: 20px;
    }
    
    .position{
        display: inline-block;
        font-size: 0.9em;
        letter-spacing: 0.2em;
        border: 2px solid white;
        padding: 5px 20px;
        position: relative;
        
        &:before, &:after{
            content: "";
            position: absolute;
            background-color: white;
            height: 2px;
            width: 100%;
            top: 50%;
            transform: translateY(-50%)
        }
        
        &:before{
            left: -100%;
        }
        
        &:after{
            left: 100%;
        }
    }
}

.rounded-corners{
    border-radius: 0.5em;
}

.card-shadow{
    background-color: white;
    padding: 20px;
    box-shadow: 0px 7px 20px 0px rgba(17,121,56,0.1);
}

.card-shadow-2{
    box-shadow: 0px 7px 20px 0px rgba(17,121,56,0.1);
}

.card-shadow-3{
    width: 100%;
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
    transition: 0.3s ease all;
    
    &:hover{
        box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
        transition: 0.3s ease all;
    }
}

.card-shadow-4{
    box-shadow: 0px 2px 5px 0px rgba(74, 74, 74, 0.21);
}

.summary-stat-item{
    flex: 1;
    padding: 20px;
    border-radius: 0.5rem;
}

.start-plan-card{
    flex: 1;
    padding: 20px;
    border: 1px solid $dashboard_blue;
    
    .img-wrapper{
        display: inline-block;
        width: 5rem;
        height: 5rem;
        padding: 1em;
        border: 1px solid $dashboard_blue;
        border-radius: 50%;
    }
}

.table-card{
    box-shadow: 0px 0px 5px 0px rgba(74, 74, 74, 0.3);
}

.table-row{
    padding: 15px 20px 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid gainsboro;
    
    &:last-child{
        border: 0;
        margin-bottom: 0;
    }
}

.dashboard-profile-card{
    .image-wrapper{
        display: inline-block;
        margin-bottom: 1rem;

        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        overflow: hidden;

        img{
            width: 5rem;
        }
        
        &.lg{
            width: 7rem;
            height: 7rem;
            
            img{
                width: 7rem;
            }
        }
    }

    .name{
        font-weight: 500;

        &.verified{
            &:after{
                content: "\f058";
                font-family: Fontawesome;
                color: $dashboard_green;
                padding-left: 0.2em;
            }
        }
    }
}

.savings-plan-card{
    flex: 1;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(74, 74, 74, 0.3);
    
    .plan-header{
        display: flex;
        justify-content: space-between;
        
        .title{
            color: $dashboard_blue;
            font-weight: 500;
            padding-right: 2em;
        }
        
        .payment-due{
            text-align: center;
            
            .info{
                font-size: 0.7rem;
                margin-bottom: 0.5em;
                color: $dashboard_blue;
            }
            
            .date{
                position: relative;
                display: inline-block;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                background-color: $dashboard_blue;
                color: white;
                
                span{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 0.8em;
                }
            }
        }
    }
}

.savings-plan-card-summary{
    flex: 1;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(74, 74, 74, 0.3);
    
    .plan-header{
        display: flex;
        justify-content: space-between;
        
        .title{
            color: $dashboard_blue;
            font-weight: 500;
            padding-right: 2em;
        }
        
        .payment-due{
            text-align: center;
            
            .info{
                font-size: 0.7rem;
                margin-bottom: 0.5em;
                color: $dashboard_blue;
            }
            
            .date{
                position: relative;
                display: inline-block;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                background-color: $dashboard_blue;
                color: white;
                
                span{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 0.8em;
                }
            }
        }
    }
    
    .content{
        padding: 20px;
    }
    
    .footer{
        .title{
            font-size: 0.8rem;
            line-height: 1.5em;
            background-color: $dashboard-blue;
            color: white;
            padding: 10px 20px;
        }
    }
}

.referral-padding{
    padding: 20px 0 0;
        
    @include MQ(M){
        padding: 15px 15px 15px 20px;
    }
}

/* Project */
.product-card{
    padding: 10px 10px 20px 10px;
    
    &:hover{
        
        .title{
            color: $primary;
            transition: all 0.3s ease;
        }
    }
    
    figure{
        text-align: center;
        padding: 2rem;
        margin-bottom: 1rem;
        background-color: ghostwhite;
                
        img{
            height: 50vw;
            
            @include MQ(S){
                height: 25vw;
            }
            
            @include MQ(M){
                height: 7vw;
            }
            transition: all 0.4s ease;
        }
    }
    
    .title{
        display: block;
        font-weight: 500;
        line-height: 1.5em;
        color: black;
        margin-bottom: 0.25rem;

        &:hover{
            color: $primary;
            transition: all 0.3s ease;
        }
    }
    
    .info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .meta{
            flex: 1;
            
            .location{
                font-size: 0.7rem;
                font-weight: 500;
                color: dimgray;
                margin-bottom: 0.5rem;
                
                .flag{
                    width: 1rem;
                    border-radius: 50%;
                    margin-right: 0.5rem;
                }
                
                .city{
                    display: inline-block;
                }
                
                .country{
                    display: inline-block;
                    
                    &:before{
                        content: "|";
                        padding: 0 0.2rem;
                    }
                }
            }
            
            .price{
                font-weight: 600;
                color: black;
            }
        }
    }
    
    .cart{
        position: absolute;
        top: 1em;
        right: 1em;
        
        a{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 0.75rem;
            padding: 0.5em;
            border: 1px solid gainsboro;
            border-radius: 1em;
            outline: none;
            background-color: $secondary;
            color: white;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover{
                color: $primary;
                border-color: $primary;
                transition: all 0.3s ease;
            }

            
            i{
                margin-right: 0.5em;
            }

        }
    }
}