/*
*
*Main Navigation BEGIN
*
*/

// Variables
$main_nav_width_mobile: 50vw;
$main_nav_width: 18rem;
$account_summary_width: 15rem;
$content_padding_mobile: 15px;
$content_padding_desktop: 20px;

$main_content_margin_mobile: 4rem;

.main-content{
    font-weight: 400;
    margin-top: $main_content_margin_mobile;
    position: relative;
    min-height: calc(100vh - $main_content_margin_mobile);
    
    @include MQ(M){
        margin-top: 4rem;
        min-height: calc(100vh - $main_content_margin_mobile);
    }
    
    &.open{
        .content-area{ 
            opacity: 0.7;
        }
    }
}

.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    
    z-index: 1000;
    font-weight: 400;
    background-color: white;
    box-shadow: 0px 3px 15px 0 rgba(46, 61, 73, 0.2);
    
    @include MQ(L){
        
    }
    
    .wrapper{
        flex: 1;
        display: flex;
        align-items: center;
        width: 100%;
        background-color: $secondary;
        justify-content: space-between;
        
        @include MQ(L){
            
        }
    }
    
    .nav-content-left, .nav-content-right{
        display: flex;
        align-items: center;
        height: 4rem;
        padding: 0.8rem $content_padding_mobile;
        
        @include MQ(L){
            padding: 0.6rem $content_padding_desktop;
        }
    }
    
    .nav-content-left{
        
        @include MQ(L){
            width: $main_nav_width;
            background-color: #02295A;
        }
    }    
    
    .nav-content-right{
        flex: 1;
        .container{
            padding: 0 !important;
        }
        
        @include MQ(L){
            .container{
                padding: 0 15px !important;
            }
        }
    }
    
    .brand{
        flex: 1;
        display: flex;
        align-items: center;
        position: relative;
        
        @include MQ(L){
            //flex: none;
        }
        
        .brand-wrapper{
            padding-right: 1rem;
            img{
                width: 4rem;
                margin-left: 0.5rem;

                @include MQ(L){
                    width: 4.5rem;
                    margin-left: 0;
                }
            }
        }
        
        .partner{
            padding-left: 0.3rem;
            font-size: 0.8rem;
            
            @include MQ(M){
                font-size: 1rem;
            }
            
            .intro{
                display: block;
                color: black;
                font-weight: 300;
                font-size: 0.7em;
                margin-bottom: 0.5em;
            }
            
            .name{
                display: block;
                color: black;
                font-size: 0.9em;
            }
        }
    }
    
    .home-cta{
        display: inline-flex;
        align-items: center;
        font-size: 0.9em;
        color: white;
        text-transform: uppercase;
        
        &:hover{
            opacity: 0.7;
        }
        
        img{
            height: 1.5em;
        }
        
        span{
            display: none;
            padding-left: 1em;
            
            @include MQ(S){
                display: block;
            }
        }
    }
    
    .user-account{
        .my-profile{
            display: flex;
            align-items: center;
            color: white;
            
            &:after{
                content: "\f078";
                font-family: Fontawesome;
                padding-left: 0.5rem;
                font-size: 0.8em;
                
                @include MQ(M){
                    padding-left: 1.5rem;
                }
            }
            .user-information{
                display: flex;
                align-items: center;
                
                .avatar{
                    font-size: 0.8em;
                    border-radius: 50%;
                    overflow: hidden;
                    
                    @include MQ(M){
                        margin-right: 1em;
                    }
                    
                    img{
                        width: 1.5rem;
                        
                        @include MQ(M){
                            width: 2rem;
                        }
                    }
                    
                    .user-initials{
                        background-color: $accent;
                    }
                }
                
                .profile-name{
                    display: none;
                    @include MQ(M){
                        display: block;
                    }
                }
            }
        }
        
        .dropdown-menu{
            border-radius: 0;
            top: 15px !important;
            
            li{
                font-size: 0.9em;
                padding: 10px 20px;
            }
        }
    }
    
    
    
    
    .nav-box{
        flex: 1;
        display: flex;
        align-items: center;
        
        display: block;
        position: fixed;
        top: 26px;
        left: 0;
        right: 0;
        background-color: white;
        z-index: -1;
        margin-top: 3rem;
        
        @include MQ(L){
            padding: 0;
            margin: 0;
            border: 0;
            padding-right: 4rem;
            display: flex;
            position: static;
            z-index: 1;
            
            justify-content: flex-end;
        }
    }

    .navigation-list{
        display: none;
        border-top: 1px solid gainsboro;
        padding: 20px 15px 20px;
        
        @include MQ(L){
            display: block;
        }

        li{
            display: block;
            text-align: center;
            padding-bottom: 20px;
            border-bottom: 1px solid #eaeaea;
            margin-bottom: 20px;

            &:last-child{
                border-bottom: 0;
                margin: 0;
            }

            @include MQ(L){
                display: inline-block;
                border-bottom: 0;
                margin: 0;
                padding: 0;
                float: left;
                margin-right: 3rem;
            }

            a{
                color: black;
                font-weight: 500;
                font-size: 0.8rem;
                text-transform: uppercase;
                transition: color 0.3s ease;

                &:hover{
                    color: $primary;
                    transition: color 0.3s ease;
                }
            }
            
            &.active{
                a{
                    color: $primary;
                }
            }
        }
    }
    
    .nav-cta{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        padding-right: 2rem;
        
        @include MQ(L){
            display: block;
            flex: none;
            padding-right: 0;
        }
        
        .sign-in, .register{
            display: none;
            @include MQ(M){
                display: inline-block;
            }
        }
    }
    
    .sign-in, .register, .get-started{
        display: inline-block;
        font-size: 0.8rem;
        color: $secondary;
        border: 1px solid $secondary;
        padding: 0.6rem 1.2rem;
        margin-right: 0.3rem;

        &:last-child{
            margin-right: 0;
        }

        @include MQ(L){
            margin-right: 0;
        }

        &:hover{
            color: white;
            border-color: $green_light;
            background-color: $green_light;
            transition: all 0.3s ease;
        }
    }

    .sign-in, .get-started{
        color: white;
        background-color: $secondary;
        border-color: $secondary;

        &:hover{
            border-color: $green_light;
            background-color: $green_light;
            transition: all 0.3s ease;
        }
    }

    .get-started{
        display: inline-block;

        @include MQ(M){
            display: none;
        }
    }

    .home-button{
        .hamburger-box{
            margin-top: 6px;
        }
        
        @include MQ(L){
            display: none;
        }
        
        .menu-btn{
            outline: none;
        }
    }
}

.main-nav{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: $main_nav_width_mobile;
    overflow-y: auto;
    z-index: 999;
    
    min-height: calc(100vh - $main_content_margin_mobile);
    
    @include MQ(M){
        min-height: calc(100vh - $main_content_margin_mobile);
    }
    
    background-color: $primary;
    box-shadow: 0px 3px 15px 0 rgba(46, 61, 73, 0.4);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 4rem;
    
    transform: translateX(-200%);
    transition: all 0.3s ease;
    
    &.visible{
        transform: translateX(0);
        transition: all 0.3s ease;
    }
    
    @include MQ(M){
        width: $main_nav_width;
    }
    
    @include MQ(L){
        transform: translateX(0);
    }
    
    /* Scrollbar */
    
    /* width */
    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey; 
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: ghostwhite; 
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: gainsboro;
        cursor: grab;
    }
}

.account-summary{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: $account_summary_width;
    overflow-y: auto;
    z-index: 999;
    text-align: center;
    
    margin-top: 4rem;
    min-height: calc(100vh - $main_content_margin_mobile);
    
    background-color: #F3F3F3;
    box-shadow: 0px 3px 15px 0 rgba(46, 61, 73, 0.4);
    
    @include MQ(L){
        display: block;
    }
    
    /* Scrollbar */
    
    /* width */
    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey; 
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: grey; 
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: gainsboro; 
    }
    
    .summary-section{
        padding: 30px;
        border-bottom: 1px solid #707070;
    }
    
    .profile{
        .image-wrapper{
            display: inline-block;
            margin-bottom: 1rem;
            
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            overflow: hidden;
            
            img{
                width: 5rem;
            }
        }
        
        .name{
            font-weight: 500;
            
            &.verified{
                &:after{
                    content: "\f058";
                    font-family: Fontawesome;
                    color: $dashboard_green;
                    padding-left: 0.2em;
                }
            }
        }
    }
    
    .summary-item{
        margin-bottom: 1rem;
        
        &:last-child{
            margin-bottom: 0;
        }
        
        .title{
            font-size: 0.7rem;
            margin-bottom: 0.4rem;
        }
        
        .subtitle{
            font-size: 1.1rem;
            font-weight: 500;
            color: $dashboard_green;
        }
        
        .text{
            font-size: 0.7rem;
            line-height: 1.5em;
            margin-bottom: 0.4rem;
            
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    
}

.content-area{
    position: relative;
    
    @include MQ(L){
        margin-left: 18rem;
    }
    
    .page-title{
        font-size: 1em;
        font-weight: 900;
        color: #757575;
        padding-top: 40px;
        padding-bottom: 40px;
        
        @include MQ(M){
            font-size: 1.2em;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
    
    .content-wrapper{
        padding-left: $content_padding_mobile;
        padding-right: $content_padding_mobile;
        
        @include MQ(XL){
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.nav-list-header{
    font-size: 0.9rem;
    font-weight: 500;
    color: #717070;
    text-transform: uppercase;
    
    padding: $content_padding_mobile;
}

.nav-list{
    li{
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        
        &:last-child{
            border-bottom: 0;
        }
        
        a{
            display: flex;
            align-items: center;
            padding: $content_padding_mobile;
            padding-top: 1.5em;
            padding-bottom: 1.5em;
            font-size: 0.9em;
            font-weight: 600;
            line-height: 1.2em;
            color: white;
            opacity: 0.7;
            transition: all 0.3s ease;
            
            &.active{
                opacity: 1;
            }
            
            &:hover{
                opacity: 0.9;
                transition: all 0.3s ease;
            }
            
            &.has-child[aria-expanded="true"]{
                background-color: #1f1f1f;
            }
            
            &.has-child.active[aria-expanded="true"]{
                background-color: white;
                
                .sublist{
                    background-color: white;
                    
                    li{
                        a{
                            color: $dashboard_blue;
                        }
                    }
                }
            }
            
            img{
                font-size: 1.1em;
                height: 1.3em;
                margin-right: 1em;
            }
        }
    }
}

.sublist{
    background-color: #1f1f1f;
    padding-left: 2.5rem;
}
/*
*
*Main Navigation END
*
*/