.faq-collapse{
    .faq-article{
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
        border-bottom: 1px solid #bebdbd;
        
        @include MQ(M){
            padding-bottom: 1.9rem;
            margin-bottom: 1.9rem;
        }
        
        &:last-child{
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: 0;
        }
        
        .title{
            line-height: 1.4em;
            
            a{
                display: block;
                display: flex;
                justify-content: space-between;
                
                color: $txt_default;
                font-size: 1rem;
                font-weight: 500;
                
                @include MQ(M){
                    font-size: 1.2rem;
                }
                
                &[aria-expanded="true"]{
                    color: black;
                }
                
                &:after{
                    content: "\f078";
                    font-family: Fontawesome;
                    padding-left: 1em;
                }
                
                &[aria-expanded="false"]:after{
                    transform: rotateX(0deg);
                    transition: all 0.3s ease;
                }
                
                &[aria-expanded="true"]:after{
                    transform: rotateX(180deg);
                    transition: all 0.3s ease;
                }
            }
        }
        
        .content{
            padding-top: 1.5rem;
            
            @include MQ(M){
                padding-top: 1.9rem;
            }
        }
    }
}

.contact-details-wrapper{
    margin-top: 2rem;
    
    @include MQ(M){
        margin-top: 4rem;
    }
    
    .social-media{
        margin-top: 3rem;
        
        li{ 
            margin-right: 3rem;
            
            a{
                font-size: 1.8rem;
            }
        }
    }
}

.contact-subtitle{
    margin-bottom: 2rem;
    
    @include MQ(L){
        margin-bottom: 0;
    }
}




.section-bucket{
    position: relative;
    padding-left: 150px;
    margin-left: 15px;
    margin-right: 15px;
    
    @include MQ(M){
        margin-left: 10%;
        margin-right: 0;
    }
    
    .number{
        position: absolute;
        top: 0x;
        left: 0;
        font-size: 1.5em;
        font-weight: 600;
        opacity: 0.4;
    }
}


.custom-radio{
    /* The container */
    .radio-item {
        display: inline-block;
        position: relative;
        margin-bottom: 12px;
        cursor: pointer;
        
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
        /* Hide the browser's default radio button */
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }
        
        /* On mouse-over & on Selection, add a grey background color */        
        &:hover input ~ .text, input:checked ~ .text {
            background-color: $green;
            color: white;
            transition: all 0.3s ease;
        }
        
        .text{
            display: block;
            padding: 0.3rem 1em;
            border: 1px solid $green;
            border-radius: 20px;
            transition: all 0.3s ease;
        }
    }

}

//Custom Modal
.coming-soon-modal{
    
    
    &.black{
        color: white;
    }
    
    .modal-content{
        border-radius: 0;
    }
    
    .content{
        display: flex;
        flex: 1;
    }
    
    .close{
        position: absolute;
        top: 8px;
        left: 8px;
        z-index: 1;
        line-height: 1rem;
        color: white;
    }
    
    .left{
        background-color: $secondary;
        padding: 40px 30px;
    }
    
    .right{
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        
        min-height: 320px;
        
        @include MQ(M){
            min-height: 480px;
        }
    }
    
    .code-label{
        display: inline-block;
        border-radius: 1em;
        background-color: white;
        color: #00bfe7;
        padding: 1em 1.5em;
        line-height: 0;
    }
}

.program-gallery{
    .program-gallery-item{
        figure{
            height: 240px;
            
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }
    }
}

.process-timeline{
    position: relative;
    padding-left: 3rem;

    @include MQ(M){
        padding-left: 0;
    }

    &:after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 2rem;
        z-index: 0;

        width: 2px;
        background-color: $secondary;

        @include MQ(M){
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .content-box{
        padding-bottom: 40px;
        position: relative;
        z-index: 10;

        @include MQ(M){
            padding-top: 80px;
            padding-bottom: 80px;

            &.left{
                text-align: right; 
            }
            
        }

        .article-header{
            position: relative;

            .number{
                position: absolute;
                height: 40px;
                width: 40px;
                
                left: -50px;

                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;

                font-size: 24px;

                border: 3px solid $secondary;
                border-radius: 50%;

                @include MQ(M){
                    top: 50%;
                    transform: translateY(-50%);
                    
                    height: 50px;
                    width: 50px;

                    &.left{
                        left: unset;
                        right: -105px;

                        &:after{
                            left: -40px;
                        }
                    }

                    &.right{
                        left: -105px;

                        &:after{
                            right: -40px;
                        }
                    }

                    &:after{
                        content: "";
                        position: absolute;
                        height: 3px;
                        width: 40px;
                        background-color: $secondary;

                    }
                }


                &.right{
                    @include MQ(M){
                        right: -105px;
                    }
                }
            }
        }

        @include MQ(M){}
    }

    .image-box-right, .image-box-left{
        padding-bottom: 20px;

        @include MQ(M){
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }

    .image-box-right{
        padding-right: 0;
    }

    .image-box-left{
        padding-right: 0;

        @include MQ(M){
            padding-left: 0;
            padding-right: 80px;
        }
    }

    .process-image{
        height: 180px;

        @include MQ(M){
            height: 240px;
        }
            
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
}







/* Progress Ring */
.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
    position: relative;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 0.5;
}

.circle {
  fill: none;
  stroke-width: 1;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: $dashboard_blue;
}

.stat{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    .percentage {
        color: $dashboard_blue;
        font-size: 2rem;
        font-weight: 400;
    }

    .status {
        color: #818181;        font-size: 0.7rem;
        font-weight: 500;
        line-height: 1.4em;
        
        &.active{
            color: $dashboard_green;
        }
        
        &.inactive{
            color: $dashboard_red;
        }
    }
}



/*
*
*    MULTI-PAGE FORM
*
*/
.form-progress-container{
    
}

.timeline-list{
    padding: 0;
    margin: 0;
    
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    position: relative;
}

.timeline-list:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    height: 2px;
    background-color: gainsboro;
    
    @include MQ(M){
        top: calc(50% + 0.5rem);
    }
    
}

.timeline-list li{
    padding: 0;
    margin: 0;
    text-align: center;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-list li .title{
    display: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    
    @include MQ(M){
        display: block;
    }
}

.timeline-list li .icon-box{
    height: 2em;
    width: 2em;
    border: 1px solid #67d200;
    border-radius: 50%;
    background-color: #67d200;
    color: white;
    position: relative;
    
    @include MQ(M){
        height: 3em;
        width: 3em;
    }
}

/*Active State*/
.timeline-list li.active .icon-box{
    background-color: white;
    color: #67d200;
    border-width: 2px;
}

.timeline-list li.active ~ * .icon-box{
    border: 1px solid gainsboro;
    background-color: white;
    color: inherit;
}

.timeline-list li .icon-box i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-size: 1em;
}

.centered-profile-image{
    display: flex;
    justify-content: center;
}

.verification-status{
    display: flex;
    align-items: center;
    justify-content: center;
}

.verification-status i{
    padding-right: 0.25em;
}




/* Image Upload Preview */

.image-upload-wrapper{
    position: relative;
}

#img_contain{
    width: 200px;  
    height: 200px;  
    border-radius: 50%;
    overflow: hidden;
}

#imgInp{ 
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    padding:10px;
    background-color:#d3d3d3;  
}

#blah{
    width:auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.credit{    
    font: 14px "Century Gothic", Futura, sans-serif;
    font-size:12px;
    color:#3d3d3d;
    text-align:left;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
}
.credit a{
    color:gray;
}

.credit a:hover{
    color:black;  
}
.credit a:visited{
    color:MediumPurple;
}

/* Notification */
.notification{
    padding: 15px;
    background-color: $dashboard_green;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
    
    &:last-child{
        margin-top: 20px;
        margin-bottom: 40px;
    }
    
    .message{
        font-size: 0.8rem;
        color: white;
        flex: 1;
    }
    
    .dismiss{
        font-size: 1.4rem;
        margin-right: 1em;
        cursor: pointer;
        
        &:before{
            content: "\f057";
            font-family: Fontawesome;
        }
    }
    
    &.error{
        background-color: $dashboard_red;
    }
    
    &.warning{
        background-color: $dashboard_yellow;
    }
}

/* Search */
.search-form{
    position: relative;

    input{
        background-color: transparent;
        font-size: 0.9em;
        color: white;
        padding: 0.65em 1em;
        border: 1px solid white;
        border-radius: 0.5em;
        outline: 0;
        width: 100%;

        &::placeholder{
            color: white;
        }
    }

    button{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0.9em;
        color: white;
        background-color: transparent;
        border: 0;
        outline: 0;
        cursor: pointer;

        &:after{
            content: "\f002";
            font-family: Fontawesome;
        }
    }
    
    &.dark{
        
        input{
            color: #4B4B4B;
            border-color: #4B4B4B;
            
            &::placeholder{
                color: #4B4B4B;
            }
        }
        
        button{
            color: #4B4B4B;
        }
    }
}

.filter-bar{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    @include MQ(S){
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .filter-list{
        margin-bottom: 10px;

        @include MQ(S){
            margin-bottom: 0;
        }

        li{
            display: inline-block;

            a{

                display: block;
                background-color: transparent;
                font-size: 0.75rem;
                font-weight: 500;
                text-transform: uppercase;
                color: #757575;
                padding: 0.5em 1em;
                border-radius: 1em;

                &.active{
                    background-color: $dashboard_blue;
                    color: white;
                }
            }
        }
    }

    .dropdown{
        @include MQ(M){
            padding-left: 20px;
        }

        .option-btn{
            display: inline-flex;
            align-items: center;
            font-size: 0.75rem;
            padding: 0.65em 1em;
            border: 1px solid $ash;
            border-radius: 2em;
            background-color: white;

            .text{
                padding: 0 1.5em 0 0.25em;
            }

            .fa-angle-down{
                color: $ash;
            }
        }
        .dropdown-menu{
            border-radius: 0;
            top: 15px !important;

            li{
                font-size: 0.8rem;
                padding: 8px 15px;

                a{
                    display: flex;
                    align-items: center;

                    img{
                        height: 1rem;
                        padding-right: 0.3rem;
                        margin-top: -0.1rem;
                    }
                }
            }
        }
    }
}


.user-initials{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: $primary;
    color: white;
}

.contact-item{
    display: flex;
    align-items: center;;
    margin-bottom: 0.75em;
    
    &:last-child{
        margin-bottom: 0;
    }

    
    figure{
        padding-right: 1.5em;
        
        img{
            width: 20px;
        }
    }
    
    p{
        flex: 1;
        font-weight: 500;
        line-height: 1.6em;
        color: #535461;
    }
}

.info-label{
    display: inline-block;
    font-weight: 800;
    color: $secondary;
    padding: 0.5em 0.75em;
    background: white;
    border-radius: 0.5em;
    
    &.primary{
        color: white;
        background-color: $primary;
    } 
    
    &.secondary{
        color: white;
        background-color: $secondary;
    }
    
    &.accent{
        color: white;
        background-color: $accent;
    }
    
    &.green{
        color: white;
        background-color: green;
    }
    
    &.tertiary{
        color: white;
        background-color: #757575;
    }
}

.pagination{
    font-size: 0.9em;
    
    li{
        display: inline-block;
        margin-right: 1em;
        
        &:last-child{
            margin-right: 0;
        }
        
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2em;
            height: 2em;
            color: $secondary;
            border: 1px solid $secondary;
            border-radius: 50%;
            transition: all 0.3s ease;
            
            &.active, &:hover{
                color: white;
                background-color: $secondary;
                border-color: $secondary;
                transition: all 0.3s ease;
            }
        }
    }
    
    &-mobile{
        display: inline-flex;
        border: 2px solid $secondary;
        border-radius: 2em;
        overflow: hidden;
        font-size: 1em;
        
        li{
            display: flex;
            align-items: center;
            justify-content: center;;
            
            &.prev,&.next{
                a{
                    font-size: 1.3em;
                    color: $secondary;
                    padding: 0.25em 1em;
                    
                    &:hover{
                        background-color: $secondary;
                        color: white;
                    }
                }
            }
            
            &.prev{
                a{
                    &:after{
                        content: "\f104";
                        font-family: fontawesome;
                    }
                }
            }
            
            &.next{
                a{
                    &:after{
                        content: "\f105";
                        font-family: fontawesome;
                    }
                }
            }
            
            &.current{
                font-size: 0.8em;
                font-weight: 600;
                text-transform: uppercase;
                padding: 0.25em 1em;
                border-left: 1px solid $secondary;
                border-right: 1px solid $secondary;
            }
        }
    }
}

.status-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #BDBDBD;
    
    &.active{
        background-color: #69F0AE;
    }
}

.dropdown-menu {
    padding: 0;
    margin: 10px 0;
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.25);
}